<div class="container">
  <h1>Shift Details</h1>

  <h3>Start Date: <%= @shift.start_date %></h3>
  <h3>Worker: <%= @shift.worker.name %></h3>

  <%= link_to 'Edit', edit_shift_path(@shift), class: "btn btn-primary" %>
  <%= link_to 'Back to Shifts', shifts_path, class: "btn btn-secondary" %>
</div>
